* {
    margin: 0;
    padding: 0%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    height: 300px;
    width: 500px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr th {
    border: 3px solid grey;
    font-size: 25px;
    font-weight: bolder;
}

table tr td {
    border: 3px solid grey;
    font-size: 20px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}